apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: git-clone
  namespace: default
spec:
  description: Clone un repository Git
  workspaces:
    - name: output
      description: Le workspace où cloner le code
  params:
    - name: url
      type: string
      description: URL du repository Git
    - name: revision
      type: string
      default: main
      description: Branch, tag ou SHA à cloner
  steps:
    - name: clone
      image: gcr.io/tekton-releases/github.com/tektoncd/pipeline/cmd/git-init:v0.40.2
      script: |
        #!/bin/sh
        set -e
        git clone $(params.url) $(workspaces.output.path)
        cd $(workspaces.output.path)
        git checkout $(params.revision)
        echo "Code cloné avec succès!"
