apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: helm-deploy
  namespace: default
spec:
  description: Déploiement avec Helm
  params:
    - name: release-name
      type: string
      description: Nom de la release Helm
    - name: chart-path
      type: string
      description: Chemin vers le chart Helm
    - name: namespace
      type: string
      default: default
    - name: image-repository
      type: string
    - name: image-tag
      type: string
  workspaces:
    - name: source
  steps:
    - name: deploy
      image: alpine/helm:latest
      script: |
        #!/bin/sh
        set -e
        echo "Déploiement avec Helm..."

        helm upgrade --install $(params.release-name) \
          $(workspaces.source.path)/$(params.chart-path) \
          --namespace $(params.namespace) \
          --create-namespace \
          --set image.repository=$(params.image-repository) \
          --set image.tag=$(params.image-tag) \
          --wait \
          --timeout 5m

        echo "Déploiement terminé!"
